:root {
  --nav-bg-black: rgba(0, 0, 0, 0.63);
  --bg-grey: #eaeaea;
  --ligth-grey: #f8f8f8;
  --blue-txt: #273673;
  --grey-txt: #939393;
  --btn-ligth-blue: #3c6ab3;
  --btn-dark-blue: #263a7c;
  --bg-footer: #121226;
  --white: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
}

/* Utilities */

.container-xl {
  max-width: 1168px;
}

.fs-48 {
  font-size: 48px;
}
.fs-15 {
  font-size: 15px;
}
.fs-12 {
  font-size: 12px;
}

.fw-800 {
  font-weight: 800;
}
.max-w-1168 {
  max-width: 1168px;
}

.max-w-847 {
  max-width: 874px;
}
.max-w-530 {
  max-width: 530px;
}
.max-w-467 {
  max-width: 467px;
}

.btn {
  border-radius: 5px;
  padding: 5px 50px;
}
.btn-small {
  border-radius: 5px;
  padding: 5px 34px;
}
.btn-ligth-blue {
  background: var(--btn-ligth-blue);
  transition: all 0.2s linear;
}
.btn-ligth-blue:hover {
  background: var(--btn-dark-blue);
  transition: all 0.2s linear;
}

/* Slide in animation */
.slide-in-fade-in {
  opacity: 0;
  transform: translateX(calc(-100% + 100px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.slide-in-fade-in.in-view {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Fade in animation */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.in-view {
  opacity: 1;
}

/* Header/Navigation */

#header {
  position: absolute;
  width: 100%;
  background: var(--nav-bg-black);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, background 0.2s linear;
  z-index: 999;
}
#header.slide-in {
  transform: translateY(0);
}

#header .navbar {
  position: relative;
  overflow: hidden;
}

.navbar {
  padding: 10px 0;
}

.navbar-nav .nav-item a.nav-link,
.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:hover,
.navbar-nav .nav-item a.nav-link:focus {
  color: var(--ligth-grey);
  position: relative;
  opacity: 1;
  transition: all 0.2s linear;
}

.navbar .navbar-brand {
  width: 115px;
  height: 56px;
  background-image: url("./logo/logo_ligth.svg");
}

.navbar .user-icon {
  width: 14px;
  height: 19px;
  background-image: url("./icons/user_white.svg");
}
.navbar .cart-icon {
  width: 22px;
  height: 19px;
  background-image: url("./icons/cart_white.svg");
}

.navbar-nav .nav-item a.nav-link.active .underline {
  opacity: 1;
}
.navbar-nav .nav-item a.nav-link:hover .underline {
  opacity: 1;
  transition: all 0.2s linear;
  background-image: url("./icons/blue_dash.svg");
}
.navbar .underline {
  opacity: 0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  border-radius: 25%;
  height: 2px;
  background-image: url("./icons/white_dash.svg");
  transition: all 0.2s linear;
}
.navbar .user-icon .underline,
.navbar .cart-icon .underline {
  width: 100%;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s linear;
  border-radius: 50%;
}
#nav-overlay {
  position: absolute;
  width: 100%;
  height: 76px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, background 0.2s linear;
  background: #000;
  background-image: url("./img/hero_img.webp");
}

#nav-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
}
#nav-overlay.slide-in {
  transform: translateY(0);
}

/* Mobile menu */
.navbar .navbar-toggler {
  border: none;
  width: 30px;
  height: 30px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.navbar .navbar-toggler .hamburger-menu {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--white);
}

.navbar .navbar-toggler .hamburger-menu:before,
.navbar .navbar-toggler .hamburger-menu:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  background: var(--white);
  height: 2px;
  transition: all 0.2s linear;
}
.navbar .navbar-toggler .hamburger-menu:after {
  top: 8px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler .hamburger-menu.open::before {
  top: 0px;
  transform: rotate(45deg);
}

.navbar .navbar-toggler .hamburger-menu.open::after {
  top: 0;
  transform: rotate(-45deg);
}

/* Hero */
#hero {
  height: 798px;
}

#hero .hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(4, 12, 55, 0.76);
  z-index: 2;
}
#hero .hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#hero .hero-content {
  z-index: 3;
  margin-top: -76px;
}

/* Paslaugos section */

#paslaugos {
  background: var(--ligth-grey);
}
#paslaugos .paslaugos-wraper {
  z-index: 6;
  margin-top: -150px;
}
#paslaugos .paslaugos-wraper .card {
  padding: 68px 20px 20px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#paslaugos .paslaugos-wraper .card a,
#paslaugos .paslaugos-wraper .card a:visited {
  text-decoration: none;
  color: var(--black);
}

#paslaugos .paslaugos-wraper .card:hover .icon {
  background-image: url("./img/paslaugos_1_hover.svg");
}
#paslaugos .paslaugos-wraper .card:hover .icon-2 {
  background-image: url("./img/paslaugos_2_hover.svg");
}
#paslaugos .paslaugos-wraper .card:hover .icon-3 {
  background-image: url("./img/paslaugos_3_hover.svg");
}
#paslaugos .paslaugos-wraper .card:hover {
  margin-top: -20px;
}
#paslaugos .paslaugos-wraper .card .icon,
#paslaugos .paslaugos-wraper .card .icon-2,
#paslaugos .paslaugos-wraper .card .icon-3 {
  width: 164px;
  height: 179px;
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  background-image: url("./img/paslaugos_1.svg");
}

#paslaugos .paslaugos-wraper .card .icon-2 {
  background-image: url("./img/paslaugos_2.svg");
}
#paslaugos .paslaugos-wraper .card .icon-3 {
  background-image: url("./img/paslaugos_3.svg");
}

/* Apie mus */
#apie-mus .title-wraper {
  background: var(--ligth-grey);
}
#apie-mus .title-wraper .section-title {
  padding: 0 12px;
}

#produkcija {
  background: var(--ligth-grey);
}

#produkcija .img-wraper {
  height: 308px;
  max-width: 308px;
  width: 100%;
  display: block;
  background: var(--bg-grey);
  border-radius: 14px;
  margin-bottom: 32px;
}

#produkcija .swiper-slide {
  padding-top: 15px;
  transition: all 0.2s linear;
}
#produkcija .img-wraper:hover {
  margin-top: -10px;
  margin-bottom: 42px;
}

#produkcija .swiper-button-next,
#produkcija .swiper-button-prev {
  color: var(--black);
  top: calc(50% - 50px);
}
#produkcija .swiper-button-prev:after,
#produkcija .swiper-button-next:after {
  font-size: 34px;
}

#footer {
  background: url("./img/footer_bg.webp");
}

#footer .form-control {
  border-radius: 5px;
  padding: 10px 14px;
  font-size: 15px;
}
#footer .form-control:focus {
  box-shadow: 0 0 0 4px rgba(2, 12, 26, 0.25);
}
#footer .form-control::placeholder {
  font-size: 15px;
  color: var(--grey-txt);
}
#footer textarea.form-control {
  min-height: 132px;
}
#footer .footer-bottom {
  padding: 12px 0;
  background: var(--bg-footer);
}
#footer .footer-bottom img {
  max-width: 102px;
}
/* Media queries */
@media (min-width: 768px) {
  #header:hover {
    background: var(--white);
    transition: background 0.2s linear;
  }
  #header:hover .navbar-nav .nav-item a.nav-link.active .underline {
    background-image: url("./icons/blue_dash.svg");
  }

  #header:hover .navbar-nav .nav-item a.nav-link.active,
  #header:hover .navbar-nav .nav-item a.nav-link {
    color: var(--blue-txt);
    transition: all 0.2s linear;
  }
  #header:hover .navbar-brand {
    background-image: url("./logo/Logo_blue.svg");
  }

  #header:hover .user-icon {
    background-image: url("./icons/user_blue.svg");
  }

  #header:hover .cart-icon {
    background-image: url("./icons/cart_blue.svg");
  }
  .navbar .user-icon:hover .underline,
  .navbar .cart-icon:hover .underline {
    opacity: 1;
    transition: all 0.2s linear;
    background-image: url("./icons/blue_dash.svg");
  }
}
@media (max-width: 767px) {
  .navbar .navbar-collapse {
    position: fixed;
    top: 76px;
    right: -100vw; /* Off-screen by default */
    background: var(--white);
    transition: right 0.5s ease-in-out;
    z-index: 7;
  }
  .navbar .user-icon:hover .underline,
  .navbar .cart-icon:hover .underline {
    opacity: 1;
    transition: all 0.2s linear;
  }
  .navbar-nav .nav-item a.nav-link,
  .navbar-nav .nav-item a.nav-link.active,
  .navbar-nav .nav-item a.nav-link:hover,
  .navbar-nav .nav-item a.nav-link:focus {
    color: var(--blue-txt);
    position: relative;
    opacity: 1;
    transition: all 0.2s linear;
  }
  .navbar-nav .nav-item a.nav-link.active .underline {
    background-image: url("./icons/blue_dash.svg");
  }

  .navbar .user-icon {
    background-image: url("./icons/user_blue.svg");
  }
  .navbar .cart-icon {
    background-image: url("./icons/cart_blue.svg");
  }
  .navbar .user-icon:hover .underline,
  .navbar .cart-icon:hover .underline {
    opacity: 1;
    transition: all 0.2s linear;
    background-image: url("./icons/blue_dash.svg");
  }

  #navbar-toggler {
    background-image: url("./icons/menu_white.svg");
  }
  #hero {
    height: 700px;
  }
  #hero h1.fs-48 {
    font-size: 34px;
  }
  #hero p.fs-4 {
    font-size: 20px !important;
  }
  #paslaugos .col {
    padding: 0 64px;
  }
  #paslaugos .paslaugos-wraper .card {
    padding: 68px 20px 20px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  }
  #paslaugos .paslaugos-wraper .col {
    margin-bottom: 70px;
  }
  /* .slide-in-fade-in {
    transform: translateX(0);
  } */
  #apie-mus .title-wraper {
    background: var(--white);
  }
  #apie-mus .fs-4 {
    font-size: 20px !important;
  }
  #produkcija .img-wraper {
    max-width: 284px;
    height: 284px;
  }
}

@media (max-width: 576px) {
  #hero {
    height: 589px;
  }
  #hero h1.fs-48 {
    font-size: 24px;
  }
  #hero p.fs-4 {
    font-size: 16px !important;
  }
  #hero .hero-content {
    margin-top: 0;
  }

  #paslaugos .paslaugos-wraper {
    margin-top: -70px;
  }
  #paslaugos .col {
    padding: 0 34px;
  }
  #paslaugos .col:last-child {
    margin-bottom: 0;
  }
  #paslaugos .paslaugos-wraper .card .icon,
  #paslaugos .paslaugos-wraper .card .icon-2,
  #paslaugos .paslaugos-wraper .card .icon-3 {
    width: 127px;
    height: 138px;
    top: -75px;
    background-size: 127px 138px;
  }
  #paslaugos .paslaugos-wraper h5.fs-4 {
    font-size: 20px !important;
  }
  #paslaugos .paslaugos-wraper p.fs-4,
  #paslaugos .paslaugos-wraper ul.fs-4 {
    font-size: 16px !important;
  }
  #footer button.btn {
    width: 100%;
  }
  #footer .fs-5 {
    font-size: 16px !important;
  }
  #footer .fs-6 {
    font-size: 14px !important;
  }
}

/* Product page */
#product-section {
  background: var(--ligth-grey);
  padding-top: 176px !important;
}
#product-section .product-gallery {
  padding-right: 34px;
  border-right: 1px solid var(--bg-grey);
}
#product-section .main-image {
  background: var(--bg-grey);
  width: 100%;
  min-height: 441px;
  border-radius: 10px;
}
#product-section .thumb-img-wraper {
  width: 153px;
  height: 153px;
  border-radius: 10px;
  background: var(--bg-grey);
  cursor: pointer;
  transition: background 0.2s linear;
}
#product-section .thumb-img-wraper:hover {
  background: var(--white);
  transition: background 0.2s linear;
}

#product-section .details {
  padding-left: 34px;
}

#product-section .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, "|");
}
#product-section .breadcrumb a {
  color: var(--black);
  text-decoration: none;
}

#product-section .comments {
  color: #000;
  transition: opacity 0.2s linear;
  text-underline-offset: 3px;
}
#product-section .comments:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

#rateYo .rateyo .star:hover {
  color: #080503 !important; /* Hover color */
}
.jq-ry-container {
  padding: 0 !important;
}
